/* Navbar */

*{
	margin: 0;
	padding: 0;

}

body{
	font-family: adobe heiti std, sans-serif;
	background-image: url(../background/bg2.png);
}

nav{
	display: flex;
	background-color: #ff7e00;
	justify-content: space-between;
	height: 50px;
	align-items: center;
}

nav ul {
	display: flex;
	list-style: none;
	width: 20%;
	justify-content: space-between;
	margin-right: 50px;


}

nav ul li a{
	color: black;
	text-decoration: none;
	font-size: 0.9em;
}

nav .judul {
	color: white;
	text-shadow: 3px 5px 3px black;
	font-family: niagara solid, sans-serif;
	font-size: 2em;
	margin-left: 50px;
	letter-spacing: 1px;

}

nav ul li a:hover {
	color: white;
}

/*container*/

.container{
	width: 600px;
	overflow-y: auto;
	background-color: rgba(154,146,146,0.5);
	margin: auto;
	margin-top: 50px;
	margin-bottom: 30px;
}


/*layer*/

.acc{
	text-align: center;
	width: 420px;
	margin: auto;
	overflow: auto;
	list-style: none;
	color: black;
	display: flex;
	margin-top: 15px;
	align-items: center;
}

.acc li{
	padding: 10px;
}
/*subjudul*/

.subjudul{
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
}

.dua{
	margin-left: 30px;
}
.tiga{
	margin-left: 30px;
